.main-container {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  display: block;
}

.main-normal{
  /* max-height: 100Vh; */
  height: 100vh;
  position: relative;
  border: 0px solid black;
  box-shadow: none;
  /* transform: translate(0%, 0%); */
  /* overflow: auto; */
  margin-bottom: 0%;
  left: 0;
  transition: all 1s;
}

.main-container-view-menu{
  /* background-color: green; */
  /* display: flex; */
  /* overflow: hidden;
  padding: 50px 0px; */
  /* display: grid;
  place-items: center; */

  height: 65vh;
  overflow: hidden;
  /* position: relative; */
  /* transform: translate(75%, 25%); */
  
  /* margin: 50 0; */
  /* transform: translateY(5`0%); */
  /* transform: translateX(50%); */
  /* border: .1px solid gray; */
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
  margin-top: 10%;
  margin-bottom: 20%;
  /* top: 50%; */
  left: 75%;
  transition: all 1s;
}
/* .main-container-sin-menu{
  right: 75%;
  transition: all 1s;
} */

.main{
  height: 100%;
  box-shadow: none;
  border: none;
  padding: 0;
  margin: auto;
  position: relative;
  left: 0;
  transition: all 0.45s ease-out;
  background: white;
}